.terraform.lock.hcl
.terraform/providers/registry.terraform.io/hashicorp/google/5.0.0/windows_amd64/terraform-provider-google_v5.0.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/google/5.25.0/windows_amd64/terraform-provider-google_v5.25.0_x5.exe
.terraform/providers/registry.terraform.io/hashicorp/google-beta/5.25.0/windows_amd64/terraform-provider-google-beta_v5.25.0_x5.exe
terraform.tfstate
terraform.tfstate.backup
.terraform/modules/modules.json
.generated
generated/google/nlp-dev-6aae/addresses/europe-west2/provider.tf
generated/google/nlp-dev-6aae/autoscalers/europe-west2/provider.tf
generated/google/nlp-dev-6aae/backendBuckets/europe-west2/provider.tf
generated/google/nlp-dev-6aae/backendBuckets/europe-west2/variables.tf
generated/google/nlp-dev-6aae/backendServices/europe-west2/provider.tf
generated/google/nlp-dev-6aae/backendServices/europe-west2/variables.tf
generated/google/nlp-dev-6aae/bigQuery/europe-west2/provider.tf
generated/google/nlp-dev-6aae/cloudbuild/europe-west2/provider.tf
generated/google/nlp-dev-6aae/cloudFunctions/europe-west2/provider.tf
generated/google/nlp-dev-6aae/dataProc/europe-west2/provider.tf
generated/google/nlp-dev-6aae/disks/europe-west2/compute_disk.tf
generated/google/nlp-dev-6aae/disks/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/disks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/dns/europe-west2/provider.tf
generated/google/nlp-dev-6aae/externalVpnGateways/europe-west2/provider.tf
generated/google/nlp-dev-6aae/firewall/europe-west2/provider.tf
generated/google/nlp-dev-6aae/firewall/europe-west2/variables.tf
generated/google/nlp-dev-6aae/forwardingRules/europe-west2/provider.tf
generated/google/nlp-dev-6aae/forwardingRules/europe-west2/variables.tf
generated/google/nlp-dev-6aae/gcs/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/gcs/europe-west2/provider.tf
generated/google/nlp-dev-6aae/gcs/europe-west2/storage_bucket_acl.tf
generated/google/nlp-dev-6aae/gcs/europe-west2/storage_bucket_iam_binding.tf
generated/google/nlp-dev-6aae/gcs/europe-west2/storage_bucket_iam_policy.tf
generated/google/nlp-dev-6aae/gcs/europe-west2/storage_bucket.tf
generated/google/nlp-dev-6aae/gcs/europe-west2/storage_default_object_acl.tf
generated/google/nlp-dev-6aae/gke/europe-west2/provider.tf
generated/google/nlp-dev-6aae/gke/europe-west2/variables.tf
generated/google/nlp-dev-6aae/globalAddresses/europe-west2/provider.tf
generated/google/nlp-dev-6aae/globalForwardingRules/europe-west2/provider.tf
generated/google/nlp-dev-6aae/globalForwardingRules/europe-west2/variables.tf
generated/google/nlp-dev-6aae/healthChecks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/httpHealthChecks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/httpsHealthChecks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/iam/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/iam/europe-west2/project_iam_member.tf
generated/google/nlp-dev-6aae/iam/europe-west2/provider.tf
generated/google/nlp-dev-6aae/iam/europe-west2/service_account.tf
generated/google/nlp-dev-6aae/images/europe-west2/provider.tf
generated/google/nlp-dev-6aae/instanceGroupManagers/europe-west2/provider.tf
generated/google/nlp-dev-6aae/instanceGroups/europe-west2/provider.tf
generated/google/nlp-dev-6aae/instanceGroups/europe-west2/variables.tf
generated/google/nlp-dev-6aae/instances/europe-west2/compute_instance.tf
generated/google/nlp-dev-6aae/instances/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/instances/europe-west2/provider.tf
generated/google/nlp-dev-6aae/instanceTemplates/europe-west2/provider.tf
generated/google/nlp-dev-6aae/instanceTemplates/europe-west2/variables.tf
generated/google/nlp-dev-6aae/interconnectAttachments/europe-west2/provider.tf
generated/google/nlp-dev-6aae/kms/europe-west2/provider.tf
generated/google/nlp-dev-6aae/logging/europe-west2/provider.tf
generated/google/nlp-dev-6aae/memoryStore/europe-west2/provider.tf
generated/google/nlp-dev-6aae/monitoring/europe-west2/provider.tf
generated/google/nlp-dev-6aae/networkEndpointGroups/europe-west2/provider.tf
generated/google/nlp-dev-6aae/networks/europe-west2/compute_network.tf
generated/google/nlp-dev-6aae/networks/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/networks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/nodeGroups/europe-west2/provider.tf
generated/google/nlp-dev-6aae/nodeTemplates/europe-west2/provider.tf
generated/google/nlp-dev-6aae/packetMirrorings/europe-west2/provider.tf
generated/google/nlp-dev-6aae/project/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/project/europe-west2/project.tf
generated/google/nlp-dev-6aae/project/europe-west2/provider.tf
generated/google/nlp-dev-6aae/pubsub/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionAutoscalers/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionBackendServices/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionBackendServices/europe-west2/variables.tf
generated/google/nlp-dev-6aae/regionDisks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionHealthChecks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionInstanceGroupManagers/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionInstanceGroupManagers/europe-west2/variables.tf
generated/google/nlp-dev-6aae/regionInstanceGroups/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionSslCertificates/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionTargetHttpProxies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionTargetHttpsProxies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/regionUrlMaps/europe-west2/provider.tf
generated/google/nlp-dev-6aae/reservations/europe-west2/provider.tf
generated/google/nlp-dev-6aae/resourcePolicies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/routers/europe-west2/compute_router.tf
generated/google/nlp-dev-6aae/routers/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/routers/europe-west2/provider.tf
generated/google/nlp-dev-6aae/routes/europe-west2/compute_route.tf
generated/google/nlp-dev-6aae/routes/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/routes/europe-west2/provider.tf
generated/google/nlp-dev-6aae/routes/europe-west2/variables.tf
generated/google/nlp-dev-6aae/schedulerJobs/europe-west2/provider.tf
generated/google/nlp-dev-6aae/securityPolicies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/sslCertificates/europe-west2/provider.tf
generated/google/nlp-dev-6aae/sslPolicies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/subnetworks/europe-west2/compute_subnetwork.tf
generated/google/nlp-dev-6aae/subnetworks/europe-west2/outputs.tf
generated/google/nlp-dev-6aae/subnetworks/europe-west2/provider.tf
generated/google/nlp-dev-6aae/subnetworks/europe-west2/variables.tf
generated/google/nlp-dev-6aae/targetHttpProxies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/targetHttpProxies/europe-west2/variables.tf
generated/google/nlp-dev-6aae/targetHttpsProxies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/targetHttpsProxies/europe-west2/variables.tf
generated/google/nlp-dev-6aae/targetInstances/europe-west2/provider.tf
generated/google/nlp-dev-6aae/targetPools/europe-west2/provider.tf
generated/google/nlp-dev-6aae/targetSslProxies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/targetSslProxies/europe-west2/variables.tf
generated/google/nlp-dev-6aae/targetTcpProxies/europe-west2/provider.tf
generated/google/nlp-dev-6aae/targetVpnGateways/europe-west2/provider.tf
generated/google/nlp-dev-6aae/terraformer/europe-west2/plan.json
generated/google/nlp-dev-6aae/urlMaps/europe-west2/provider.tf
generated/google/nlp-dev-6aae/urlMaps/europe-west2/variables.tf
generated/google/nlp-dev-6aae/vpnTunnels/europe-west2/provider.tf
.terraform/providers/registry.terraform.io/hashicorp/google-beta/5.28.0/windows_amd64/LICENSE
.terraform/providers/registry.terraform.io/hashicorp/google-beta/5.28.0/windows_amd64/terraform-provider-google-beta_v5.28.0_x5.exe
